root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
# Google Java Style standard indent
indent_style = space
indent_size = 2
ij_continuation_indent_size = 4

# Max line length per Google Java Style guide
max_line_length = 120

# Code Formatting Details
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_before_package = 0
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_method = 1

# Import Ordering (Google Style rule)
ij_java_imports_layout = static *,**,|,*

[*.{xml,json,yml,yaml,sql,md}]
indent_style = space
indent_size = 2